@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-size: 14px;
  color: #1e1e2f;
  font-family: "Inria Sans";
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  padding: 20px 50px;
}
body .header .header-item {
  display: flex;
  align-items: flex-start;
}
body .header .header-item img {
  height: 40px;
}
body .header .header-item ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.2rem;
}
body .header .header-item ul li:hover {
  cursor: pointer;
}
body .header .header-item ul .button:hover {
  background-color: #1e1e2f;
}
body .header .header-item .options {
  width: 40vw;
}
body .header .header-item .conn {
  width: 17.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header .header-item .conn .button {
  background-color: black;
  color: whitesmoke;
  padding: 20px 35px;
  border-radius: 50px;
}
body .main {
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
}
body .main .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 4;
}
body .main .left ul {
  list-style-type: none;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
}
body .main .left .bar {
  margin-left: 50px;
}
body .main .left .bar input {
  height: 80px;
  border: solid 1px white;
}
body .main .left .bar input[type=text] {
  box-shadow: 0px 0px 48px 5px rgba(0, 0, 0, 0.14);
  padding: 0 10px 0 50px;
  outline: none;
}
body .main .left .bar input[type=button] {
  height: 100%;
  width: 80px;
  background-color: rgb(163, 221, 163);
  border-color: rgb(163, 221, 163);
  color: black;
  font-weight: bold;
  font-size: 20px;
}
body .main .left .bar input[type=button]:hover {
  cursor: pointer;
}
body .main .right {
  display: flex;
  justify-content: space-between;
  flex: 7;
}
body .main .right .card-image {
  color: whitesmoke;
  width: 30%;
  background-position: center top;
  background-size: cover;
  border-radius: 1rem;
  transition: width 300ms ease;
  position: relative;
  overflow: hidden;
}
body .main .right .card-image .vertical {
  position: absolute;
  transform: rotate(-90deg);
  left: 0px;
  top: 400px;
  font-size: 24px;
  font-weight: 900;
}
body .main .right .card-image .topics {
  display: flex;
  margin: 10px 10px;
  flex-direction: column;
  visibility: hidden;
  left: 40px;
  top: 400px;
  font-size: 20px;
}
body .main .right .card-image:hover {
  box-shadow: none;
  cursor: pointer;
  width: 50%;
  margin: 0 10px;
}
body .main .right .card-image:hover .vertical {
  visibility: hidden;
}
body .main .right .card-image:hover .topics {
  visibility: visible;
  font-weight: bold;
  color: black;
}
body .main .right .card-image::before {
  content: "";
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.650297619) 0%, rgba(0, 0, 0, 0.0032387955) 49%);
  inset: 0;
  position: absolute;
}/*# sourceMappingURL=stye.css.map */